<!DOCTYPE html>
<html lang="en">

<head>
  <title>Page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="../static/mystyle.css">

</head>

<body>
  <h1>Yo Bro, I Know A Good Show</h1>
  <form name="input" action="/post/user" method="POST">
    <h3>Get Started </h3><br>
    <h4 style="text-align: center">Select your favorite genres</h4> <br>

    <div style="margin-left: 123px" class="genre_preferences_col_1">
      <input type="checkbox" name="genre" value="action">
      <label style="color: rgb(150,150,150)">Action</label><br>
      <input type="checkbox" name="genre" value="adventure">
      <label style="color: rgb(150,150,150)">Adventure</label><br>
      <input type="checkbox" name="genre" value="animation">
      <label style="color: rgb(150,150,150)">Animation</label><br>
      <input type="checkbox" name="genre" value="biography">
      <label style="color: rgb(150,150,150)">Biography</label><br>
      <input type="checkbox" name="genre" value="comedy">
      <label style="color: rgb(150,150,150)">Comedy</label><br>
      <input type="checkbox" name="genre" value="crime">
      <label style="color: rgb(150,150,150)">Crime</label><br>
      <input type="checkbox" name="genre" value="documentary">
      <label style="color: rgb(150,150,150)">Documentary</label><br>
      <input type="checkbox" name="genre" value="drama">
      <label style="color: rgb(150,150,150)">Drama</label><br>
      <input type="checkbox" name="genre" value="family">
      <label style="color: rgb(150,150,150)">Family</label><br>
    </div>
    <div style="margin-left: 50px;margin-right: 50px" class="genre_preferences_col_1">
      <input type="checkbox" name="genre" value="fantasy">
      <label style="color: rgb(150,150,150)">Fantasy</label><br>
      <input type="checkbox" name="genre" value="game-show">
      <label style="color: rgb(150,150,150)">Game-Show</label><br>
      <input type="checkbox" name="genre" value="history">
      <label style="color: rgb(150,150,150)">History</label><br>
      <input type="checkbox" name="genre" value="horror">
      <label style="color: rgb(150,150,150)">Horror</label><br>
      <input type="checkbox" name="genre" value="music">
      <label style="color: rgb(150,150,150)">Music</label><br>
      <input type="checkbox" name="genre" value="musical">
      <label style="color: rgb(150,150,150)">Musical</label><br>
      <input type="checkbox" name="genre" value="mystery">
      <label style="color: rgb(150,150,150)">Mystery</label><br>
      <input type="checkbox" name="genre" value="news">
      <label style="color: rgb(150,150,150)">News</label><br>
      <input type="checkbox" name="genre" value="reality-tv">
      <label style="color: rgb(150,150,150)">Reality-TV</label><br>
    </div>

    <div class="genre_preferences_col">
      <input type="checkbox" name="genre" value="romance">
      <label style="color: rgb(150,150,150)">Romance</label><br>
      <input type="checkbox" name="genre" value="sci-fi">
      <label style="color: rgb(150,150,150)">Sci-Fi</label><br>
      <input type="checkbox" name="genre" value="short">
      <label style="color: rgb(150,150,150)">Short</label><br>
      <input type="checkbox" name="genre" value="sport">
      <label style="color: rgb(150,150,150)">Sport</label><br>
      <input type="checkbox" name="genre" value="talk-show">
      <label style="color: rgb(150,150,150)">Talk-Show</label><br>
      <input type="checkbox" name="genre" value="thriller">
      <label style="color: rgb(150,150,150)">Thriller</label><br>
      <input type="checkbox" name="genre" value="war">
      <label style="color: rgb(150,150,150)">War</label><br>
      <input type="checkbox" name="genre" value="western">
      <label style="color: rgb(150,150,150)">Western</label><br><br>
    </div>

    <h4 style="text-align: center; margin-top: 40px">Enter the last five shows you watched</h4><br>
    <input style="margin-top: 3px;margin-bottom:3px;margin-left: 240px" type="text" name="tvshows"><br>
    <input style="margin-top: 3px;margin-bottom:3px;margin-left: 240px" type="text" name="tvshows"><br>
    <input style="margin-top: 3px;margin-bottom:3px;margin-left: 240px" type="text" name="tvshows"><br>
    <input style="margin-top: 3px;margin-bottom:3px;margin-left: 240px" type="text" name="tvshows"><br>
    <input style="margin-top: 3px;margin-bottom:3px;margin-left: 240px" type="text" name="tvshows"><br>
    <input style="margin-top: 10px;margin-bottom:10px;margin-left: 285px" type="submit" value="Submit">

  </form>

</body>

</html>
